.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.pyd

build/
dist/

models/moondream2/*.safetensors
models/moondream2/*.bin
models/marian_en_ru/*.safetensors
models/marian_en_ru/*.spm
models/marian_en_ru/*.bin

.idea/
.vscode/
*.suo
*.user

*.log
outputs/
data/processed/